.navbar{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0px;
    background-color: #1F2347;
    
}

.navbar__icon{
    
}